// 변수저장 파일
// primary
$primary: #026fc2;

// Blue Gray
$blue-1: #61739b;
$blue-2: #697da9; // Label
$blue-3: #b2b8d0;
$blue-4: #e4e6ef;
$blue-5: #f0f4fc; // Grid
$blue-6: #f3f4f8; // Background
$blue-7: #f8f8fb; // Table

$bg-color: #eef2f5;
