// 변수저장 파일
// primary
$primary: #026fc2;

// Blue Gray
$blue-1: #61739b;
$blue-2: #697da9; // Label
$blue-3: #b2b8d0;
$blue-4: #e4e6ef;
$blue-5: #f0f4fc; // Grid
$blue-6: #f3f4f8; // Background
$blue-7: #f8f8fb; // Table

$bg-color: #eef2f5;
$bg-color-dark: #0f172a;

$font: #333;

// primary scale
$primary90: #484d5b;
$primary80: #828692;
$primary70: #577bd6; //메인컬러
$primary60: #618bf3;
$primary20: #ecf0fc;
$primary10: #eaedff;

// //gray scale
// $gray-80: #2f3140; // 폰트 - 타이틀, 서브 타이틀
$gray-80: #111111;
$gray-70: #333333; // 폰트 - 타이틀
$gray-60: #555555; // 폰트 - 기본
$gray-50: #888888; // 폰트 - disabled, placeholder
$gray-40: #b9b9b9;
$gray-30: #bcc2d2; // disabled 1
$gray-20: #dddddd; // border
$gray-10: #d4d4d4; // border
$gray-5: #f3f3f3; //hover bg
$gray-3: #d5d7dc;
$gray-2: #f2f2f2; // form disabled
$gray-1: #f8f8f8;

$error: #f04d1b;
$validation: #ff5469;

//background(box)
$white: #ffffff;
