/* =========================== Font =========================== */
@font-face {
  font-family: 'Noto Sans KR';
  src: url('/font/NotoSansCJKkr-Regular.otf') format('opentype'),
    url('/font/NotoSansCJKkr-Regular.woff') format('woff'),
    url('/font/NotoSansCJKkr-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/font/NotoSansCJKkr-Medium.otf') format('opentype'),
    url('/font/NotoSansCJKkr-Medium.woff') format('woff'),
    url('/font/NotoSansCJKkr-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/font/NotoSansCJKkr-Bold.otf') format('opentype'),
    url('/font/NotoSansCJKkr-Bold.woff') format('woff'),
    url('/font/NotoSansCJKkr-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* =========================== Scrollbar =========================== */
* {
  scrollbar-width: auto;
  scrollbar-color: #a3a7b9 transparent;
  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border: 2px solid transparent;
  }
}
#__layout {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  .hide {
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: -1;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
  }
}

.content-box {
  padding: 20px;
  background: white;
}
.ProfileInfo {
  font-size: 20px;
  line-height: 1.5;
  .title {
    .tag {
      @apply flex items-center;
      > li {
        margin-right: 4px;
        padding: 1px 3px;
        color: $blue-1;
        background: $blue-6;
      }
    }
    h2 {
      font-size: 36px;
      font-weight: 500;
      .point-color {
        color: $primary;
      }
    }
  }
  .sub-title {
    color: $blue-3;
    font-weight: 700;
  }
  .profile-img {
    position: relative;
    margin-right: 60px;
    img {
      width: 400px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      width: 400px;
      height: 534px;
      border: 3px solid $primary;
    }
  }
  .info {
    @apply flex-1;
    &__text {
      p {
        font-size: 32px;
      }
    }
    &__label {
      min-width: 130px;
      font-weight: 500;
    }
    &__work {
      li {
        font-size: 24px;
        + li {
          margin-top: 10px;
        }
        .info__label {
          font-weight: 700;
          &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 4px;
            background: url(/img/icon_check.png) no-repeat center center / 100%;
            vertical-align: revert;
          }
        }
      }
      &--img {
        min-width: 400px;
        margin-left: 60px;
      }
    }
    // &__skill {
    //   width: 80%;
    //   li {
    //     @apply lg:flex lg:items-center;
    //     padding: 4px 0;
    //   }
    //   .progress {
    //     position: relative;
    //     width: 100%;
    //     height: 20px;
    //     margin-left: 20px;
    //     border-radius: 10px;
    //     background-color: $blue-4;
    //     .bar {
    //       position: absolute;
    //       height: 20px;
    //       border-radius: 10px;
    //       background-color: $primary;
    //       animation: css-progressbar 1s ease-out;
    //       -moz-animation: css-progressbar 1s ease-out;
    //       -webkit-animation: css-progressbar 1s ease-out;
    //     }
    //     @keyframes css-progressbar {
    //       0% {
    //         width: 0px;
    //       }
    //       100% {
    //         width: 80%;
    //       }
    //     }
    //     @-webkit-keyframes css-progressbar {
    //       0% {
    //         width: 0px;
    //       }
    //       100% {
    //         width: 80%;
    //       }
    //     }
    //     @-moz-keyframes css-progressbar {
    //       0% {
    //         width: 0px;
    //       }
    //       100% {
    //         width: 80%;
    //       }
    //     }
    //   }
    // }
  }
  .profile {
    min-width: 400px;
    margin-top: 40px;
    li {
      @apply lg:flex lg:items-center;
      padding: 4px 0;
      font-size: 14px;
    }
  }
  .career {
    &__title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
    }
    &__more {
      font-size: 36px;
      font-weight: 700;
      border-bottom: 3px solid;
    }
    &__box {
      width: 100%;
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
      grid-gap: 70px;

      li {
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        transition: transform 0.3s ease;
        border: 1px solid $blue-3;
        background: white;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 20px 30px -2px rgb(20 20 20 / 12%);
        }
      }
    }
    &__img {
      display: block;
      width: 100%;
      height: 260px;
      background-size: cover;
      background-position: top;
    }
    &__text {
      padding: 30px;
      &--title {
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700;
      }
      &--info {
        font-size: 14px;
      }
    }
  }
}
.ProfileCareer {
  .page-title {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
  }
  .photo {
    width: 300px;
    margin-right: 40px;
  }
  .career {
    background: white;
    padding: 20px 30px;
    &__title {
      @apply flex items-center justify-between;
      padding-bottom: 4px;
      border-bottom: 1px solid #333;
      &--name {
        font-size: 22px;
        font-weight: 700;
      }
      &--date {
        margin-left: 12px;
        font-size: 14px;
      }
    }
    &__list {
      padding: 20px 30px;
      li {
        padding: 4px 0;
        font-size: 18px;
        list-style: disc;
      }
    }
  }
}
